*{
   max-width: 1440px;
   margin: 0px;
   font-family: 'Inter', sans-serif;

}

img{
   margin-top: 52px;
   margin-left: 56px;
}
#titulo-menusuperior{
   margin-left: 125px;
   margin-top: 50px;
}
#texto-menusuperior{
   margin-left: 125px;
   margin-top: 35px;
   padding-bottom: 100px;
}
#menusuperior{
   color: aliceblue;
   background-image: url(../assets/fundo-menusuperior.svg);
}
#menuinformacional{
   background-color: #EAECE5;
   display: grid;
   grid-auto-flow: column;
   columns: auto;
}
.icone{
   /*margin-top:50px;
   margin-left:100px;
   margin-bottom:50px;*/
   margin:50px 0 50px 100px;
   padding:10px;
}
.textoinformativo{
   display:flex;
   align-items: center;
}
#secaovideo{
   display: grid;
   grid-auto-flow: column;
   columns: auto;
}
#titulovideo{
   margin-top: 50px;
   color:#247BA0;
}
#video{
   margin:50px 25px 50px 100px;
}
#comentario{
   background-color: #247BA0;
   padding: 50px;

}
#titulocomentario{
   color: white;
   font-size: 32px;
   text-align: center;
}
#div-cards{
   
   margin-top: 25px;
   display: grid;
   grid-auto-flow: column;
}
.card{

}
#setaesq{
   display: none;
}
#samantha{
   display: none;
}
.seta{
   margin-top: 90%;
   cursor: pointer;
}
.seta:hover{
   transform: translateY(-7px);
   transition: 0.6s;
}
#titulo-formulario{
   text-align: center;
   font-size: 32px;
   margin: 25px;
   color:#383838;
}
form{
   display: flex;
   flex-direction: column;
}