*{
   margin: 0px;
   font-family: 'Inter', sans-serif;

}

img{
   margin-top: 52px;
   margin-left: 56px;
}
#titulo-menusuperior{
   margin-left: 125px;
   margin-top: 50px;
}
#texto-menusuperior{
   margin-left: 125px;
   margin-top: 35px;
   padding-bottom: 100px;
}
#menusuperior{
   color: aliceblue;
   background-image: url(../assets/fundo-menusuperior.svg);
}
#menuinformacional{
   background-color: #EAECE5;
}